<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <!-- Properties -->
  <Properties>
    <Property name="filename">target/test.log</Property>
    <Property name="name1">value</Property>
  </Properties>

  <!-- Appenders -->
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="LogToFile" fileName="logs/app.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
 
  <!-- Loggers -->
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="LogToFile"/>
    </Root>
  </Loggers>

</Configuration>