<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="settings" type="System.Configuration.NameValueSectionHandler" />
    <section name="demo" type="System.Configuration.AppSettingsSection" />
    <section name="bootup" type="System.Configuration.DictionarySectionHandler" />
    <section name="locations" type="System.Configuration.SingleTagSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="UAT">
      <section name="settings" type="System.Configuration.NameValueSectionHandler" />
      <section name="demo" type="System.Configuration.AppSettingsSection" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </sectionGroup>
    
  </configSections>
  
  <appSettings>
    <add key="RuntimeEnvironment" value="ROOT_appSettings_RuntimeEnvironment" />
  </appSettings>

  <settings>
    <add key="RuntimeEnvironment" value="ROOT_settings_RuntimeEnvironment" />
  </settings>

  <demo>
    <add key="RuntimeEnvironment" value="ROOT_demo_RuntimeEnvironment" />
  </demo>

  <bootup>
    <add key="RuntimeEnvironment" value="ROOT_bootup_RuntimeEnvironment" />
  </bootup>

  <locations ImportDirectory="C:\Import\Inbox"
             ProcessedDirectory ="C:\Import\Processed"
             RejectedDirectory ="C:\Import\Rejected"
  />

  <UAT>
    <settings>
      <add key="RuntimeEnvironment" value="UAT_settings_RuntimeEnvironment" />
    </settings>
    
    <demo>
      <add key="RuntimeEnvironment" value="UAT_demo_RuntimeEnvironment" />
    </demo>
    
    <log4net>
      <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
      </root>
      <appender name="console" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
      </appender>
      <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file value="logs/log4net-test.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
      </appender>
    </log4net>
    
  </UAT>
  
</configuration>
